<header class="navbar navbar-expand-lg">
    <div class="container-fluid">
        @if(isAdmin){
        <button class="btn bordered-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu">
            <i class="bi bi-list align-middle"></i>
        </button>
        }
        <a class="navbar-brand" href="/">
            <img src="ewa-logo.svg" alt="ewa" class="img-fluid" width="180" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false"
            aria-label="Main menu">
            <i class="bi bi-three-dots align-middle"></i>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <section class="d-flex">
                <button class="btn border rounded-circle me-1" tooltip="Search apps" containerClass="tooltips">
                    <i class="bi bi-search"></i>
                </button>
                <button class="btn btn-light rounded-circle ms-1" tooltip="Support" containerClass="tooltips">
                    <i class="bi bi-chat-right-dots"></i>
                </button>
            </section>
        </div>
    </div>
</header>
@if(isAdmin){
<app-side-bar-component/>
}