<section class="container-fluid">
    <div class="row g-4-justify-content-start">
        <div class="col-lg-7 p-2">
            <h1 class="h4">{{heading}}</h1>
        </div>
        <div class="col-lg-5 p-2">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1 ms-3">
                    <section class="card bg-light">
                        "{{spotlight}}"
                    </section>
                    <small class="d-block text-end">About <a href="/">Spotlight</a></small>
                </div>
                <div class="flex-shrink-0">
                    <img src="..." alt="...">
                </div>
            </div>
        </div>
    </div>
</section>